PermitRootLogin no
PasswordAuthentication no
ChallengeResponseAuthentication no
TCPKeepAlive yes
UsePAM yes

AcceptEnv TMUX
AcceptEnv ZELLIJ
AcceptEnv KITTY_PID

Subsystem sftp /usr/lib/ssh/sftp-server
